@import "tailwindcss";

@theme {
  --color-navy: #0B1F3A;
  --color-teal: #14B8A6;
}

body {
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
